<h1>Says Who?</h1>
<ng-container *ngIf="user$ | async; let user">
  <ng-container *ngIf="game$ | async; let game">
    <ng-container [ngSwitch]="game.step">
      <ng-container *ngSwitchCase="'NOT_STARTED'">
        <ng-container
          *ngIf="isSupremeLeader$ | async; then startGame; else waitingForGame"
        ></ng-container>
        <ng-template #startGame>
          <hc-banner [type]="'warning'">
            <span hcBannerStamp>WAITING</span>
            Everyone is waiting for you to start the game.
          </hc-banner>
          <button hc-button (click)="newGame()">Start game</button>
        </ng-template>
        <ng-template #waitingForGame>
          <hc-banner [type]="'info'">
            <span hcBannerStamp>WAITING</span>
            Waiting for the Supreme Leader to start the game.
          </hc-banner>
        </ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="'WAITING_FOR_RESPONSES'">
        <h2>{{ game.currentPrompt }}</h2>
        <ng-container
          *ngIf="
            playerHasEnteredResponse(game, user);
            then waitingForResponses;
            else enterResponse
          "
        ></ng-container>
        <ng-template #waitingForResponses>
          <hc-banner [type]="'info'">
            <span hcBannerStamp>WAITING</span>
            Waiting for other players to answer the prompt.
          </hc-banner>
        </ng-template>
        <ng-template #enterResponse>
          <hc-banner [type]="'warning'">
            <span hcBannerStamp>IT'S YOUR TURN</span>
            Everyone is waiting for you to enter a response.
          </hc-banner>
          <hc-form-field>
            <hc-label>Enter your response:</hc-label>
            <input hcInput [formControl]="responseControl" />
            <hc-error>Input is required.</hc-error>
          </hc-form-field>
          <button hc-button (click)="submitResponse(user)">Submit</button>
        </ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="'WAITING_FOR_GUESS'">
        <ng-template #enterGuess>
          <hc-banner [type]="'warning'">
            <span hcBannerStamp>IT'S YOUR TURN</span>
            Everyone is waiting for you to make a guess.
          </hc-banner>
          <h3>
            Make a guess by clicking a question mark icon and selecting a
            player.
          </h3>
        </ng-template>
        <ng-template #waitingForPlayer>
          <hc-banner [type]="'info'">
            <span hcBannerStamp>WAITING</span>
            Waiting for {{ game.currentTurn?.name }} to make a guess.
          </hc-banner>
        </ng-template>

        <ng-container
          *ngIf="
            game.currentTurn.uniqueId === user.uniqueId;
            then enterGuess;
            else waitingForPlayer
          "
        ></ng-container>
        <hc-tile>
          <ng-container *ngTemplateOutlet="responses"></ng-container>
        </hc-tile>
        <hc-tile>
          <ng-container *ngTemplateOutlet="playerScores"></ng-container>
        </hc-tile>
      </ng-container>

      <ng-container *ngSwitchCase="'ROUND_END'">
        <ng-container *ngTemplateOutlet="playerScores"></ng-container>
        <ng-container
          *ngIf="isSupremeLeader$ | async; then startGame; else waitingForGame"
        ></ng-container>
        <ng-template #startNextRound>
          <hc-banner [type]="'warning'">
            <span hcBannerStamp>WAITING</span>
            Everyone is waiting for you to start the next round.
          </hc-banner>
          <button hc-button (click)="nextRound()">Start next round</button>
        </ng-template>
        <ng-template #waitingForNextRound>
          <hc-banner [type]="'info'">
            <span hcBannerStamp>WAITING</span>
            Waiting for the Supreme Leader to start the next round.
          </hc-banner>
        </ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="'GAME_OVER'">
        <ng-container *ngTemplateOutlet="playerScores"></ng-container>
        <ng-container
          *ngIf="isSupremeLeader$ | async; then startGame"
        ></ng-container>
        <ng-template #startGame>
          <button hc-button (click)="newGame()">Play again</button>
        </ng-template>
      </ng-container>
    </ng-container>

    <ng-template #playerScores>
      <h3>Scoreboard</h3>
      <hc-list>
        <hc-list-item *ngFor="let player of game.players">
          <img [src]="player.user.avatarUrl" hcListAvatar />
          <span hcListLine>{{ player.user.name }}</span>
          <span hcListLine>{{ player.score }} points</span>
        </hc-list-item>
      </hc-list>
    </ng-template>
    <ng-template #responses>
      <h2>{{ game.currentPrompt }}</h2>
      <hc-list>
        <hc-list-item *ngFor="let response of game.responses">
          <hc-icon
            *ngIf="
              response.user.uniqueId !== user.uniqueId && !response.revealed
            "
            fontSet="fas"
            fontIcon="fa-question"
            hcListIcon
            [hcPop]="guess"
          ></hc-icon>
          <img
            *ngIf="
              response.user.uniqueId === user.uniqueId || response.revealed
            "
            [src]="response.user.avatarUrl"
            hcListAvatar
          />
          <span hcListLine>{{ response.response }}</span>
          <h4
            *ngIf="
              response.user.uniqueId === user.uniqueId || response.revealed
            "
          >
            {{ response.user.name }}
          </h4>

          <hc-pop #guess>
            <div class="guessable-players">
              <ng-container *ngFor="let player of game.players">
                <ng-container
                  *ngIf="
                    !player.guessed && player.user.uniqueId !== user.uniqueId
                  "
                >
                  <button
                    hc-button
                    buttonStyle="minimal"
                    class="player"
                    [disabled]="game.currentTurn?.uniqueId !== user.uniqueId"
                    (click)="makeGuess(user, player.user, response)"
                  >
                    <img class="avatarIcon" [src]="player.user.avatarUrl" />
                    <span>{{ player.user.name }}</span>
                  </button>
                </ng-container>
              </ng-container>
            </div>
          </hc-pop>
        </hc-list-item>
      </hc-list>
    </ng-template>
  </ng-container>
</ng-container>
