<hc-navbar [fixedTop]="true">
  <div
    class="hc-navbar-username"
    *ngIf="user$ | async; let user"
    (click)="editUser()"
  >
    <img
      class="avatar-navbar-icon"
      [src]="user.avatarUrl"
      [title]="user.name"
      [alt]="user.name"
    />
  </div>
  <hc-navbar-mobile-menu>
    <hc-list>
      <hc-list-item (click)="editUser()" *ngIf="user$ | async; let user">
        <img
          class="avatar-navbar-icon"
          [src]="user.avatarUrl"
          [title]="user.name"
          [alt]="user.name"
          hcListIcon
        />
        <h4 hcListLine>{{ user.name }}</h4>
        <span hcListLine>Edit your profile</span>
      </hc-list-item>
    </hc-list>
  </hc-navbar-mobile-menu>
</hc-navbar>

<!-- <div class="content">
  <div *ngIf="!client" class="initialView">
    <h1>Let's play!</h1>
    <button hc-button (click)="newSession()">
      <hc-icon fontSet="fa" fontIcon="fa-plus" class="icon-left"></hc-icon>
      New Session
    </button>
    <button hc-button (click)="joinSession()">
      <hc-icon fontSet="fa" fontIcon="fa-sign-in" class="icon-left"></hc-icon>
      Join Session
    </button>
  </div>
  <div *ngIf="client">
    <hc-form-field>
      <hc-label>Send some data to {{ client.peer.name }}:</hc-label>
      <input hcInput #input />
    </hc-form-field>
    <button
      hc-button
      (click)="client.sendMessage({ type: 'chat', data: input.value })"
    >
      Send message
    </button>
    <h4>Last message received from peer:</h4>
    <pre><code>{{ client.receivedMessage$ | async | json }}</code></pre>
    <pre><code>{{ client.peer | json }}</code></pre>
  </div>
</div> -->
