<hc-navbar
  [fixedTop]="true"
  appIcon="assets/app.svg"
  brandIcon="assets/font-awesome-svgs/solid/dice.svg"
>
  <hc-navbar-link class="prerelease-tag">
    <hc-chip color="red">Alpha</hc-chip>
  </hc-navbar-link>
  <div
    class="hc-navbar-username"
    *ngIf="user$ | async; let user"
    (click)="editUser()"
    [title]="'👤 ' + user.name + '\nEdit your profile'"
  >
    <img class="avatar-navbar-icon" [src]="user.avatarUrl" [alt]="user.name" />
  </div>
  <hc-navbar-mobile-menu>
    <hc-list>
      <hc-list-item (click)="editUser()" *ngIf="user$ | async; let user">
        <img
          class="avatar-navbar-icon"
          [src]="user.avatarUrl"
          [title]="user.name"
          [alt]="user.name"
          hcListIcon
        />
        <h4 hcListLine>{{ user.name }}</h4>
        <span hcListLine>Edit your profile</span>
      </hc-list-item>
    </hc-list>
  </hc-navbar-mobile-menu>
</hc-navbar>

<div class="content">
  <div class="initialView">
    <!--*ngIf="!client"-->
    <h1>Let's play!</h1>
    <button hc-button>
      <!--(click)="newSession()"-->
      <hc-icon fontSet="fas" fontIcon="fa-plus" class="icon-left"></hc-icon>
      New Group
    </button>
    <button hc-button>
      <!--(click)="joinSession()"-->
      <hc-icon
        fontSet="fas"
        fontIcon="fa-sign-in-alt"
        class="icon-left"
      ></hc-icon>
      Join Group
    </button>
  </div>
  <!-- <div *ngIf="client">
    <hc-form-field>
      <hc-label>Send some data to {{ client.peer.name }}:</hc-label>
      <input hcInput #input />
    </hc-form-field>
    <button
      hc-button
      (click)="client.sendMessage({ type: 'chat', data: input.value })"
    >
      Send message
    </button>
    <h4>Last message received from peer:</h4>
    <pre><code>{{ client.receivedMessage$ | async | json }}</code></pre>
    <pre><code>{{ client.peer | json }}</code></pre>
  </div> -->
</div>
