<hc-navbar
  [fixedTop]="true"
  appIcon="assets/app.svg"
  brandIcon="assets/font-awesome-svgs/solid/dice.svg"
>
  <hc-navbar-link class="prerelease-tag">
    <hc-chip color="red">Alpha</hc-chip>
  </hc-navbar-link>
  <ng-container *ngIf="group$ | async; let group">
    <hc-icon *ngIf="group.users.length && group.groupName" 
      class="hc-navbar-icon" 
      fontSet="fas" fontIcon="fa-users"
      [hcPop]="groupView"></hc-icon>
  </ng-container>
  <div
    class="hc-navbar-username"
    *ngIf="user$ | async; let user"
    (click)="editUser()"
    [title]="'👤 ' + user.name + '\nEdit your profile'"
  >
    <img class="avatar-navbar-icon" [src]="user.avatarUrl" [alt]="user.name" />
  </div>
  <hc-navbar-mobile-menu>
    <hc-list>
      <hc-list-item (click)="editUser()" *ngIf="user$ | async; let user">
        <img
          class="avatar-navbar-icon"
          [src]="user.avatarUrl"
          [title]="user.name"
          [alt]="user.name"
          hcListIcon
        />
        <h4 hcListLine>{{ user.name }}</h4>
        <span hcListLine>Edit your profile</span>
      </hc-list-item>
      <ng-container *ngIf="group$ | async; let group">
        <hc-list-item *ngIf="group.groupName && group.users.length" [hcPop]="groupView">
          <hc-icon
            fontSet="fas"
            fontIcon="fa-users"
            hcListIcon
          ></hc-icon>
          <h4 hcListLine>{{ group.groupName }}</h4>
        </hc-list-item>
      </ng-container>
    </hc-list>
  </hc-navbar-mobile-menu>
</hc-navbar>

<div class="hc-drawer-container" *ngIf="group$ | async; let group">
  <hc-drawer-container>
    <hc-drawer align="left" #chatDrawer [mode]="'over'">
      <!-- TODO: chat -->
    </hc-drawer>
    <hc-drawer #groupSettingsDrawer align="right" [opened]="group.editing || false" [mode]="'over'">
      <app-group-settings></app-group-settings>
    </hc-drawer>

    <div class="content">
      <div *ngIf="!group?.groupName || !group.users?.length" class="initialView">
        <h1>Let's play!</h1>
        <button hc-button (click)="createGroup()">
          <hc-icon fontSet="fas" fontIcon="fa-plus" class="icon-left"></hc-icon>
          New Group
        </button>
        <button hc-button (click)="joinGroup()">
          <hc-icon
            fontSet="fas"
            fontIcon="fa-sign-in-alt"
            class="icon-left"
          ></hc-icon>
          Join Group
        </button>
      </div>
      <ng-container *ngIf="group?.groupName && group.users?.length">
        <app-game></app-game>
      </ng-container>
    </div>
  </hc-drawer-container>
</div>

<hc-pop #groupView>
  <ng-container *ngIf="group$ | async; let group">
    <h3>{{group.groupName}}</h3>
    <app-group-members></app-group-members>
  </ng-container>
</hc-pop>

<!-- <div *ngIf="client">
    <hc-form-field>
      <hc-label>Send some data to {{ client.peer.name }}:</hc-label>
      <input hcInput #input />
    </hc-form-field>
    <button
      hc-button
      (click)="client.sendMessage({ type: 'chat', data: input.value })"
    >
      Send message
    </button>
    <h4>Last message received from peer:</h4>
    <pre><code>{{ client.receivedMessage$ | async | json }}</code></pre>
    <pre><code>{{ client.peer | json }}</code></pre>
  </div> -->
